page-about { 
      .white-text{
          color: white;
          font-size: 20px;
          padding: 10px;
      }
      .green-text{
          color: #32DB64;
          font-size: 20px;
          padding: 10px;
      }
      
}

