page-contact {
 .table-header{
        padding: 10px;
        margin-left: 0px;
        font-size: 15px;
        color: #32DB64;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .attendance-information{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        font-size: 15px;
        font-weight: normal;
    }  
}