page-page9{
   .values{
    /*color: #01A9DB; */
    color: #8C2A37;
    font-size: 20px;
    font-weight: italic;
    text-align: inline;
    position: relative;
    float: right;
   } 
   #btn{
    position: absolute;
    top:90%;
    left: 0;
    text-transform: uppercase;
    }
    .header{
    color: #8C2A37;
    font-size: 20px;
    padding: 10px;
    text-align: center;    
    }
    .view{
      background-image: url('../image/img8.jpg');
      background-repeat: no-repeat;
      /*background-color: papayawhip;*/
      background-size: cover;
    }
}
